<div class="container col-12">

    <div class="left-section col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Headlines
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mattis to Send Troops to Border</li>
                <li class="list-group-item">Mother’s Voice a More Effective Smoke Alarm</li>
                <li class="list-group-item">38 Percent Saw Finances Rise Under Trump</li>
                <li class="list-group-item">Study: Organic Foods Lower Cancer Risk</li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                Top Stories
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mattis to Send Troops to Border</li>
                <li class="list-group-item">Mother’s Voice a More Effective Smoke Alarm</li>
                <li class="list-group-item">38 Percent Saw Finances Rise Under Trump</li>
                <li class="list-group-item">Study: Organic Foods Lower Cancer Risk</li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                Medical Evolution
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mattis to Send Troops to Border</li>
            </ul>
        </div>
    </div>
    <div class="main-section col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>Doctors Are Called to Heal, Not Just to Treat</h1>
        <span class="comment-link" (click)="scrollToComment()"><i class="fa fa-comments" aria-hidden="true"> 117
                Comments !</i></span>
        <img class="widget" src="../assets/mainImage.jpg" alt="" />
        <div class="content">
            <p>As a doctor for the past 17 years, I've had the privilege of caring for patients. I'm welcomed into
                their lives
                at one of the hardest moments: a moment of uncertainty. A moment of fear. A moment of overwhelming
                tumult.
                I've realized over the years, and more so as technology progresses, that the humanity of medicine is at
                an
                impasse. </p>
        </div>
        <div class="content">
            <p>I see new patients all the time. Recently, a newly diagnosed 44-year-old breast cancer patient was
                coming to
                me for a second opinion and had traveled from several states away. Having already seen her, my oncology
                fellow
                shared the patient's stats, including biopsy report, scans and blood tests. I asked, "Why is she here?"
                A
                fellow restated, "She has a neglected breast cancer. It is locally advanced."</p>
        </div>
        <div class="content">
            <p>I paused. "Thank you for giving me an excellent picture of her cancer," I said, "but what is her real
                story?"
                Scans, stats and blood work only provide a fraction of the picture needed to treat cancer patients.</p>
        </div>
        <div class="content">
            <p>I took a different approach. As I walked into the room, I noticed the patient wouldn't make eye contact
                with
                me. I thanked her for coming to see me while shaking her hand. Still shy, she looked up, mentioning her
                discomfort
                with city traffic and parking. I pulled my chair close to her and asked what she did for a living.</p>
        </div>
        <div class="content">
            <p>She opened up and told me she and her husband owned a plumbing business. Eight months back, he was
                diagnosed
                with metastatic pancreatic cancer. She spent every waking moment of the last eight months caring for
                him.
                He passed away four weeks prior to our meeting. She felt the lump in her breast prior to her husband's
                diagnosis,
                but when she got the courage to see a doctor, he fell ill, and his health took precedence over her own.
                I
                got the full story – something my fellow was unable to ascertain from blood tests and lab results.</p>
        </div>
        <div class="content">
            <p>Science, advancing at an accelerated pace, is constantly challenging the medical profession, presenting
                new options
                and providing new treatments. While innovation remains crucial to the practice of medicine, physicians
                cannot
                forget our humanity. In order to provide guidance and hope – and sometimes, unfortunately, devastating
                news
                – we have to listen.</p>
        </div>
        <div class="content">
            <p>An alarming statistic was recently published that said doctors listen to their patients for 11 seconds
                on average.
                I have the honor to work in a multidisciplinary center with the latest technology and an advanced team
                at
                my fingertips. In theory, I could glean everything I need from a patient's electronic medical record
                and
                provide a recommended course of treatment. But I don't. I don't walk into a patient's room and know
                what
                they need, the course of treatment I will prescribe or the best actions to take. I don't know because I
                don't
                know them yet. And that is the point: Listen to your patient. Know your patient.</p>
        </div>
        <div class="content">
            <p>It's important to me to get to know each person – not each diagnosis. I want to learn their hopes and
                dreams,
                understand their fears and learn about their support system. Through the course of listening and
                knowing
                my patient, only then can I come up with an appropriate course of action for their individual needs. I
                went
                to medical school, and I have years of experience. But I'm not my patient. I need, each day with each
                patient,
                to be more than the white coat and more than the stethoscope.</p>
        </div>
        <div class="content">
            <p style="font-style:italic">Science is imperative. Medical research is essential. We make breakthroughs
                every day. But we need to do better
                than 11 seconds for each patient. I understand the power that science and technology bring, but I will
                never
                forget the simplistic power of communication and the lifesaving impact it has for the patients I see.</p>
        </div>
        <i class="fa fa-comments" aria-hidden="true"> Comments !</i>
        <div #CommentSection class="container pb-cmnt-container">
            <div class="row">
                <div class="">
                    <div class="card card-info">
                        <div class="card-block">
                            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea" data-toggle="modal"
                                data-target="#signInModal"></textarea>
                            <form class="form-inline">
                                <div class="btn-group">
                                    <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                                    <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                                    <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                                    <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
                                </div>
                                <button class="btn btn-primary float-xs-right" type="button">Share</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right-section col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <nav class="navigation">
            <ul class="mainmenu">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Latest News</a>
                </li>
                <li>
                    <a>Top Trends</a>
                    <ul class="submenu">
                        <li>
                            <a href="">
                                <span>Education</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Politics</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Entertainment</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Science</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Business</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
            </ul>
        </nav>
        <iframe height="345" src="https://www.youtube.com/embed/2SQo_2SJlgQ?autoplay=1">
        </iframe>
    </div>

</div>


<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Please login to post comment</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="textbox">
                        <input name="email" type="email" tabindex="1" class="form-control email" placeholder="Enter email">

                    </div>
                    <div class="textbox">
                        <input type="password" (paste)="false" tabindex="2" class="form-control password" placeholder="Password">

                    </div>

                    <a class="forgot-pwd">Forgot Email Address / Password?</a>
                </form>
            </div>
            <div class="modal-footer" style="text-align: center">
                <input type="checkbox"><span class="remember-add">Remember Email Address?</span><br>
                <button type="button" class="btn btn-red" data-dismiss="modal">Login</button>
            </div>
        </div>
    </div>
</div>